<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>grid.width</key>
	<string>2.0</string>
	<key>labeler.text_size</key>
	<string>35.0</string>
	<key>labeler.buffer</key>
	<string>0.05</string>
	<key>grids.propagate</key>
	<string>true</string>
	<key>grids.twenty_degree.enabled</key>
	<string>true</string>
	<key>grids.twenty_degree.min_zoom</key>
	<string>0</string>
	<key>grids.twenty_degree.max_zoom</key>
	<string>4</string>
	<key>grids.twenty_degree.color</key>
	<string>707070</string>
	<key>grids.twenty_degree.width</key>
	<string>2.0</string>
	<key>grids.twenty_degree.labeler.enabled</key>
	<string>true</string>
	<key>grids.twenty_degree.labeler.min_zoom</key>
	<string>0</string>
	<key>grids.twenty_degree.labeler.max_zoom</key>
	<string>4</string>
	<key>grids.twenty_degree.labeler.color</key>
	<string>17202A</string>
	<key>grids.twenty_degree.labeler.text_size</key>
	<string>35.0</string>
	<key>grids.twenty_degree.labeler.buffer</key>
	<string>0.05</string>
	<key>grids.ten_degree.enabled</key>
	<string>true</string>
	<key>grids.ten_degree.min_zoom</key>
	<string>5</string>
	<key>grids.ten_degree.max_zoom</key>
	<string>6</string>
	<key>grids.ten_degree.color</key>
	<string>707070</string>
	<key>grids.ten_degree.width</key>
	<string>2.0</string>
	<key>grids.ten_degree.labeler.enabled</key>
	<string>true</string>
	<key>grids.ten_degree.labeler.min_zoom</key>
	<string>5</string>
	<key>grids.ten_degree.labeler.max_zoom</key>
	<string>6</string>
	<key>grids.ten_degree.labeler.color</key>
	<string>17202A</string>
	<key>grids.ten_degree.labeler.text_size</key>
	<string>35.0</string>
	<key>grids.ten_degree.labeler.buffer</key>
	<string>0.05</string>
	<key>grids.five_degree.enabled</key>
	<string>true</string>
	<key>grids.five_degree.min_zoom</key>
	<string>7</string>
	<key>grids.five_degree.max_zoom</key>
	<string>7</string>
	<key>grids.five_degree.color</key>
	<string>707070</string>
	<key>grids.five_degree.width</key>
	<string>2.0</string>
	<key>grids.five_degree.labeler.enabled</key>
	<string>true</string>
	<key>grids.five_degree.labeler.min_zoom</key>
	<string>7</string>
	<key>grids.five_degree.labeler.max_zoom</key>
	<string>7</string>
	<key>grids.five_degree.labeler.color</key>
	<string>17202A</string>
	<key>grids.five_degree.labeler.text_size</key>
	<string>35.0</string>
	<key>grids.five_degree.labeler.buffer</key>
	<string>0.05</string>
	<key>grids.one_degree.enabled</key>
	<string>true</string>
	<key>grids.one_degree.min_zoom</key>
	<string>8</string>
	<key>grids.one_degree.max_zoom</key>
	<string>8</string>
	<key>grids.one_degree.color</key>
	<string>707070</string>
	<key>grids.one_degree.width</key>
	<string>2.0</string>
	<key>grids.one_degree.labeler.enabled</key>
	<string>true</string>
	<key>grids.one_degree.labeler.min_zoom</key>
	<string>8</string>
	<key>grids.one_degree.labeler.max_zoom</key>
	<string>8</string>
	<key>grids.one_degree.labeler.color</key>
	<string>17202A</string>
	<key>grids.one_degree.labeler.text_size</key>
	<string>35.0</string>
	<key>grids.one_degree.labeler.buffer</key>
	<string>0.05</string>
	<key>grids.thirty_minute.enabled</key>
	<string>true</string>
	<key>grids.thirty_minute.min_zoom</key>
	<string>9</string>
	<key>grids.thirty_minute.max_zoom</key>
	<string>10</string>
	<key>grids.thirty_minute.color</key>
	<string>EF5350</string>
	<key>grids.thirty_minute.width</key>
	<string>2.0</string>
	<key>grids.thirty_minute.twenty_degree.color</key>
	<string>EF5350</string>
	<key>grids.thirty_minute.ten_degree.color</key>
	<string>EF5350</string>
	<key>grids.thirty_minute.five_degree.color</key>
	<string>EF5350</string>
	<key>grids.thirty_minute.one_degree.color</key>
	<string>EF5350</string>
	<key>grids.thirty_minute.labeler.enabled</key>
	<string>true</string>
	<key>grids.thirty_minute.labeler.min_zoom</key>
	<string>9</string>
	<key>grids.thirty_minute.labeler.max_zoom</key>
	<string>10</string>
	<key>grids.thirty_minute.labeler.color</key>
	<string>EF5350</string>
	<key>grids.thirty_minute.labeler.text_size</key>
	<string>35.0</string>
	<key>grids.thirty_minute.labeler.buffer</key>
	<string>0.05</string>
	<key>grids.fifteen_minute.enabled</key>
	<string>true</string>
	<key>grids.fifteen_minute.min_zoom</key>
	<string>11</string>
	<key>grids.fifteen_minute.max_zoom</key>
	<string>11</string>
	<key>grids.fifteen_minute.color</key>
	<string>3D8C40</string>
	<key>grids.fifteen_minute.width</key>
	<string>2.0</string>
	<key>grids.fifteen_minute.labeler.enabled</key>
	<string>true</string>
	<key>grids.fifteen_minute.labeler.min_zoom</key>
	<string>11</string>
	<key>grids.fifteen_minute.labeler.max_zoom</key>
	<string>11</string>
	<key>grids.fifteen_minute.labeler.color</key>
	<string>3D8C40</string>
	<key>grids.fifteen_minute.labeler.text_size</key>
	<string>35.0</string>
	<key>grids.fifteen_minute.labeler.buffer</key>
	<string>0.05</string>
	<key>grids.five_minute.enabled</key>
	<string>true</string>
	<key>grids.five_minute.min_zoom</key>
	<string>12</string>
	<key>grids.five_minute.max_zoom</key>
	<string></string>
	<key>grids.five_minute.color</key>
	<string>6E6E6E</string>
	<key>grids.five_minute.width</key>
	<string>2.0</string>
	<key>grids.five_minute.labeler.enabled</key>
	<string>true</string>
	<key>grids.five_minute.labeler.min_zoom</key>
	<string>12</string>
	<key>grids.five_minute.labeler.max_zoom</key>
	<string></string>
	<key>grids.five_minute.labeler.color</key>
	<string>17202A</string>
	<key>grids.five_minute.labeler.text_size</key>
	<string>35.0</string>
	<key>grids.five_minute.labeler.buffer</key>
	<string>0.05</string>
</dict>
</plist>
